body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:radial-gradient(#8dd87a,#4dec25,#14d6b6);
}

#container{
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: rgb(196, 247, 207);
    border-radius: 50px;
}

#container h1{
 font-size: 50px;
 color: rgb(23, 23, 24);
 font-family: cursive;
}

#to-do input{
    width: 280px;
    height: 50px;
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-top: 10px;
}

#to-do button{
    font-size: 20px;
    padding: 10px;
    background-color: rgb(78, 78, 243);
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

.to_do_style{
    text-align: center;
    background-color: rgb(248, 19, 248);
    width: 350px;
    margin:  10px auto;
    border-radius: 50px;
    padding: 10px;
    list-style: none;
    font-size: 25px;
    font-family: cursive;
}